//colors
$color-background:#EBE9E9;
$color-accent:#839788;
$color-contrast:#F5E4D7;
$color-x: #E5D1D0;
$color-like:#73877B;
//font families
$font-family:'Noto Sans';
//padding and margin
$padding-default:1%;
$margin-general:1%;
//box-borders
$border-default:3px solid black;
$border-radius:10px;
//font sizes
$fontSize-h1:2.55em;
$fontSize-h2:2.25em;
$fontSize-button:20px;
//special effects
$shadow-drop: 0px 4px 4px rgba(0, 0, 0, 0.25);
